---
import CoverLetter from "../../components/CoverLetter.astro";

import details from "../../../resume-details.yml";
---

<CoverLetter addressee="Sample Company Hiring Team" details={details}>
  <p>
    Explicabo modi quam nostrum. Voluptates, sunt excepturi. Non eius assumenda,
    aperiam placeat iure vitae pariatur, optio dicta tenetur voluptatum error
    obcaecati laborum ipsum facere qui architecto culpa. Sequi ut, atque aut
    porro, culpa error voluptate voluptates perspiciatis impedit fuga nulla
    exercitationem obcaecati illo natus iure, quisquam molestiae rem odit
    ratione deleniti sed dolor aliquam animi. Nam amet cum voluptas. Hic atque,
    qui odio aperiam cumque culpa quibusdam placeat provident aliquam debitis
    officiis laboriosam quaerat, omnis, ut quisquam reiciendis magni.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, rem?
    Doloremque dolores necessitatibus aperiam quod rerum distinctio repellendus
    dolorem deserunt veritatis recusandae non, eum, placeat expedita. Sint
    ducimus perferendis doloribus consectetur cum esse distinctio aspernatur
    quibusdam possimus quia ipsum sed eaque similique a laborum, eveniet
    veritatis fugiat molestiae officia alias quas. Consectetur id exercitationem
    iure atque quasi? Eligendi temporibus sit repudiandae, harum distinctio,
    sequi vitae libero fugiat asperiores nulla veniam corporis iusto hic eveniet
    quam perspiciatis reprehenderit. Consequatur veritatis ea et laudantium
    cupiditate at, suscipit quibusdam repellendus ab, blanditiis voluptate esse
    nihil ullam sunt unde debitis velit dolores sed veniam explicabo officia
    eaque neque! Alias ipsam quidem, unde nisi omnis expedita, porro dolores eos
    iusto magni soluta ducimus ullam repellendus culpa atque iure tempora,
    nostrum repudiandae laborum maxime.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aut culpa
    recusandae deleniti fugit accusantium dolores ex molestias vero. Quia vitae
    amet praesentium! Tempore expedita labore ducimus doloribus iure impedit
    nihil numquam sit. Voluptatem, numquam quis. Aut alias quas non nobis
    perspiciatis aperiam inventore. Voluptate ipsa minus, id soluta, assumenda
    quae quam incidunt nostrum libero explicabo illum quas magni perspiciatis
    consectetur eos vero ipsum!
  </p>
</CoverLetter>
