:root {
  /* Colors */

  --white: #fff;
  --black: #000;
  --gray: #5d5d5d;
  --grayDark: #333;
  --grayMedium: #414141;
  --grayLight: $999;

  --green: #c2e15f;
  --orange: #fda333;
  --purple: #d3a4f9;
  --red: #fb4485;
  --blue: #6ce0f1;

  --awesomeEmerald: #00a388;
  --awesomeSkyBlue: #0395de;
  --awesomeRed: #dc3522;
  --awesomePink: #ef4089;
  --awesomeOrange: #ff6138;
  --awesomeNephritis: #27ae60;
  --awesomeConcrete: #95a5a6;
  --awesomeDarkNight: #131a28;

  /* Fonts Faces and Weights */

  --SourceSansPro: "Source Sans Pro";
  --Roboto: "Roboto";
  --AtkinsonHyperlegible: "Atkinson Hyperlegible";

  --fontWeightLight: 100;
  --fontWeightBold: 900;

  /* General Theming */

  --colorHighlight: var(--awesomeRed);
  --colorText: var(--grayDark);
  --colorLightText: var(--gray);

  /* Page */

  --pageMargins: 0.8cm 1.4cm 1.8cm;
  --pageFontFamily: var(--AtkinsonHyperlegible);
  --pageFontSize: 10pt;

  /* Header */

  --headerNameFontFamily: var(--Roboto);
  --headerSecondaryFontFamily: var(--AtkinsonHyperlegible);
  --headerFontSize: 8pt;
  --headerNameFontSize: 32pt;
  --headerPositionsFontSize: 7.6pt;
  --headerPositionsGap: 4pt;
  --headerExtrasGap: 12pt;

  /* Section */

  --sectionFontFamily: var(--AtkinsonHyperlegible);
  --sectionfontSize: 12pt;
  --sectionHeaderMargin: 13pt 0;
  --sectionHeaderFontSize: 16pt;
  --sectionHeaderFontWeight: var(--fontWeightBold);
  --sectionMarginBottom: 0.3cm;

  /* Sub Section */

  --subSectionTitleWidth: 1.25cm;
  --subSectionSubHeader: 8pt;
  --subSectionItemsUlMargin: 0.3cm;
  --subSectionMarginBottom: 0.4cm;

  /* Experience */

  --positionFontSize: 8pt;
  --summaryFontSize: 8pt;
  --datesFontSize: 8pt;
}

.compact {
  --sectionMarginBottom: 0.2cm;
  --sectionHeaderMargin: 0;
  --subSectionMarginBottom: 0.4cm;
  --subSectionMarginBottomLast: 0;
  --subSectionTwoColLastMarginBottom: 0;
  --subSectionItemsMargin: 0;
  --subSectionItemsUlMargin: 0.1cm;
}
