<html lang="en">
  <head>
    <title>Awesome CV Astro</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url("../style/variables.css");
  @import url("../style/fonts.css");
  @import url("../style/global.css");
</style>